{% extends "D:\files\pythonn\PROJECTS\project1\learning_logs\Templates\base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
<p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a></p>
{% endblock page_header %}
{% block content %}
<p>Edit entry:</p>
<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Save Changes" %}
</form>
{% endblock content %}