<!DOCTYPE html>
<html>

<head></head>

<body>
    {% extends 'base.html'%}
    {% block page_header %}
    <h1>Topic: {{topic.text}}</h1>
    {% endblock page_header %}
    {%block content%}
    <h3><u></u>Entries:</u></h3>
    <h6 class="card-header"><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></h6>

    {% for entry in entries %}
    <div class="card mb-3">
        <!-- Card header with timestamp and edit link -->
        <h4 class="card-header">
            {{ entry.date_c|date:'M d, Y H:i' }} <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
                    edit entry</a></small> <small><a href="{% url 'learning_logs:delete_entry' entry.id %}"
                    onclick="return confirm('Are you sure?')">
                    delete entry</a></small>
        </h4>
        <!-- Card body with entry text -->
        <div class="card-body">{{ entry.text|linebreaks }}</div>
    </div>
    {% empty %}
    <p>No entries have been added for this topic yet.</p>
    {% endfor %}

    {%endblock content%}
</body>

</html>