{%extends 'base.html'%}
{%load django_bootstrap5%}
{%block page_header%}
<h1>Sacco Members:</h1>
{%endblock page_header%}
{%block content%}
{%for member in members%}
<div class="card mb-3">
    <!-- Card header with timestamp and edit link -->
    <h4 class="card-header">
        {{member.full_name}}</h4>
    <!-- Card body with entry text -->
    <div class="card-body">
        <p>Telephone: {{member.phone}}</p>
        <p>Email: {{member.email}}</p>
        <p>Date joined: {{member.date_joined}}</p>
        <p>Active: {{member.active}}</p>
        <p></p><a class="btn btn-primary btn-lg mt-1" href="{%url 'elite_sacco:savings' member.id%}">
            Savings &raquo;
        </a></p>
    </div>
</div>
{%empty%}
<p>No members added yet.</p>
{%endfor%}

{%endblock content%}