{%extends 'base.html'%}
{%block content%}
<h1>POSTS:</h1>
<a href="{%url 'blog:add_post'%}">Add Post</a>
<ol>
    {%for post in posts%}
    <li>{{post.title}}</li>
    <ul>
        <li>{{post.content}}</li>
        {%if post.video and post.video.url%}
        <p><video src='{{post.video.url}}' controls type="video/mp4" style="width:400px; height:200px;"></video></p>
        {%else%}
        {%endif%}
        {%if post.image and post.image.url%}
        <p><img src='{{post.image.url}}' alt='' style="width:400px; height:200px;"></img></p>
        {%else%}
        {%endif%}
        {%if post.audio and post.audio.url%}
        <p><audio src='{{post.audio.url}}' controls type="audio/mp3"></audio></p>
        {%else%}
        {%endif%}
        <li>Created on: {{post.created_on}}</li>
    </ul>

    <p>
        {%if post.author != request.user%}
        <a href="{% url 'blog:submit_comment' post.id%}">Comment on Post</a>
        {%else%}
        <a href="{%url 'blog:update_post' post.id%}">Update Post</a>-
        <a href="{% url 'blog:submit_comment' post.id%}">Comment on Post</a>
        {%endif%}
    </p>
    {%empty%}
    <li>No posts have been made yet.</li>
    {%endfor%}

</ol>

{%endblock content%}